.home-container{
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://th.bing.com/th/id/OIP.hhB0a9Zp-6CEzOkD50Nm6AHaDF?w=288&h=145&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
    height: 100vh;
}

.first-home-section {
    display: flex;
    flex-direction: column;
}

.second-home-section {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0px;
}

.heading{
    color: #ffffff;
    font-family: Roboto;
}

.tagline{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.button{
    padding: 10px 16px 10px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: aqua;
    color: black;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
}

.img1{
    margin-top: 10px;
    margin-left: 26px;
}

.img2{
    margin-top: 10px;
}

.img3 {
    margin-top: 10px;
}

.img4 {
    margin-left: 26px;
    margin-top: 10px;

}

.img5 {
    margin-left: 26px;
    margin-top: 10px;

}

.img6 {
    margin-left: 26px;
    margin-top: 10px;
}

.img7{
    margin-left: 26px;
    margin-top: 10px;
}

.img8{
    margin-top: 10px;
    margin-left: 26px;
}